@page
@model Proyecto_final.Pages.sobreModel
@{
    ViewBag.Title = "indicaciones";
}

<h1><b>Pagina de examen</b></h1>
<img src="~/ima/examen.png" width="200" height="200" />
<br />

<p>
    Bienvenido a nuestra página de exámenes, donde puedes encontrar información sobre diferentes tipos de exámenes y cómo prepararte para ellos.

    en nuestra pagina podras tomar examenes de manera segura y rapido sin ningun inconveniente , donde el profesor podra tener una cuenta para crear unos examenes

    para que sus estudiantes puedan tomarlo a travez de un link o el estudiante creando una cuenta y ingresar un codigo que le de su profesor

    para asi pueda tomar su examen ya despues que tomen su examen <br>
<p />


<p>
    hay dos forma de calificacion que el profesor lo califique o que ponga que la pagina

    ya sepa cuales son las respuesta correcta y que de su calificacion dependiendo lo que el estudiante seleciono

    se le asignara su calificacion <br>
<p />





<p>
    Además, nuestra página incluye información sobre cómo registrar y programar tus exámenes, así como también sobre cómo prepararte mental y emocionalmente para el día del examen. Ofrecemos recomendaciones para manejar el estrés y la ansiedad que pueden acompañar a los exámenes, así como consejos para maximizar tu tiempo y esfuerzo durante la sesión de examen.


    Nuestros recursos están disponibles para estudiantes de todos los niveles educativos.<br>
</p>


<p>
    desde la escuela secundaria hasta la universidad y más allá. También ofrecemos información sobre exámenes específicos, como los exámenes de ingreso a la universidad y exámenes de certificación profesional.

    En definitiva, nuestra página de exámenes está diseñada para ayudarte a alcanzar tus metas académicas y tener éxito en tus exámenes. Esperamos que encuentres nuestros recursos útiles y que te ayuden a prepararte para tus próximos exámenes. ¡Comienza a explorar nuestra página hoy mismo!
</p>

<style>


    body {
        background-image: url(~/ima/biblioteca-2-e1550106475617.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: scroll;
        background-size: 1500px 1000px;
    }

    body {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    h1 {
        color: aliceblue;
        text-align: center;
    }

    img {
        display: block;
        margin: auto;
        border-radius: 20px;
        box-shadow: 15px 10px 15px;
    }

    p {
        color: aliceblue;
        font-size: 20px;
        background-color: rgb(25,0,0);
        background-size: 23px;
    }
</style>




